@import "~normalize.css";

/* Default variables */
:root {
  --blue-color: blue;
  --green-color: green;
}

[data-theme^="light"],
[data-theme] [data-theme^="light"] {
  --main-color: #000;
  --background-color: #fff;
  --box-color: lightgrey;
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"],
[data-theme="light-dark-sidebar"] nav {
  --blue-color: #1da1f2;
  --main-color: #fff;
  --background-color: #000;
  --sidebar-color: #333;
  --box-color: grey;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  color: var(--main-color);
  background-color: var(--background-color);
}

header {
  position: relative;
  height: var(--darwin-title-bar-height);//34px;
  //font-size: 16px;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
  cursor: default;
  user-select:none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  flex: 0 0 auto;
  background-color: var(--sidebar-color);
  //background: linear-gradient(to bottom, #3b3f46 0%, #2b2e33 100%);
    //border-bottom: 1px solid #000;
}
