@import "~normalize.css";

/* Default variables */
:root {
  --blue-color: blue;
  --green-color: green;
}

[data-theme^="light"],
[data-theme] [data-theme^="light"] {
  --main-color: #000;
  --background: #fff;
  --box-color: lightgrey;
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"],
[data-theme="light-dark-sidebar"] nav {
  --blue-color: #1da1f2;
  --main-color: #fff;
  --background: #000;
  --sidebar-color: #333;
  --box-color: grey;
}

[data-theme^="dracula"],
[data-theme] [data-theme^="dracula"] nav {
  --blue-color: #1da1f2;
  --main-color: #fff;
  --background: #000;
  --sidebar-color: #333;
  --box-color: grey;

  --color0: #000000;
  --color1: #ff5555;
  --color2: #50fa7b;
  --color3: #f1fa8c;
  --color4: #bd93f9;
  --color5: #ff79c6;
  --color6: #8be9fd;
  --color7: #bbbbbb;
  --color8: #555555;
  --color9: #ff5555;
  --color10: #50fa7b;
  --color11: #f1fa8c;
  --color12: #bd93f9;
  --color13: #ff79c6;
  --color14: #8be9fd;
  --color15: #ffffff;
}

[data-theme^="material-dark"],
[data-theme] [data-theme^="material-dark"] nav {

  --background: #212121;
  --foreground: #EEFFFF;
  --titlebar: #EEFFFF20;

  --defaultAccent: #80CBC4;
  --backgroundAlt: #212121;
  --contrastBorder: #212121;
  --comments: #545454;
  --caret: #FFCC00;
  --findHighlight: #FFCC00;
  --focusBorder: #FFFFFF;
  --guides: #424242;
  --lineNumbers: #424242;
  --invisibles: #65737E;
  --lineHighlight: #000000;
  --selection: #61616150;
  --shadow: #00000030;
  --inputBackground: #2B2B2B;
  --inputForeground: #EEFFFF;
  --inputBorder: #FFFFFF10;
  --scrollbars: #EEFFFF20;
  --scrollbarsHover: #EEFFFF10;
  --statusbarForeground: #616161;
  --sidebarBackground: #212121;
  --sidebarForeground: #616161;
  --listHoverForeground: #FFFFFF;
  --listHoverBackground: #212121;
  --tabActiveForeground: #FFFFFF;
  --inactiveSelectionBackground: #00000030;
  --findMatchBackground: #000000;
  --findMatchHighlightBackground: #00000050;
  --findMatchHighlightBorder: #ffffff30;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  color: var(--foreground);
  background-color: var(--background);
}

header {
  position: relative;
  height: var(--darwin-title-bar-height);//34px;
  //font-size: 16px;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
  cursor: default;
  user-select:none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  flex: 0 0 auto;
  color: var(--foreground);
  background-color: var(--titlebar);
  //background: linear-gradient(to bottom, #3b3f46 0%, #2b2e33 100%);
    //border-bottom: 1px solid #000;
}
